html {
  scroll-behavior: smooth;
}

#DISCLAIMER {
    font-size: 10px;
  
}

body {
	margin:0;
	padding:0;
}

header {
	background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url('../../media/spacephoto.png');
	background-size:cover;
	background-position: center;
	height: 100vh;
	margin: 0;
	padding: 21px 0;
}

nav {
	position: fixed;
	width: 100%;
	line-height: 70px;
	background: black;
	
}

nav ul {
	float: right;
	margin: 0;
	padding-right: 20px;
}

nav ul li {
	
	display: inline-block;
	padding: 16px 32px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 25px;
}

nav.black {
	background: #000;
	
}

/* Help on these
nav ul li a.active {
background-color: #553d67;
color:;
}

    
nav ul li a:hover { 
color:#grey; 
}
*/
#CompanyLogo {
	
	height: 75px;
	width: 75px;
	float: left;
	margin: 16px 16px;
}

h1 {
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	padding-top: 350px;
	color: #fff;
}

.Slogan h2 {
	font-size: 43px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	
	
}


main {

    background: url('../../media/body-bg.gif');
    color: #ff8f66;
    top: 4; /*offset to avoid nav bar */
	margin: 0;
	padding: 21px 0;
}



/*Now Showing Section*/



.poster_jpg {
    width:200px;
}

.nowShowing_card{
 width:100px;
 display:block;
 float:left;
	
}

.nowShowing_container {
	width: 150px;
	padding-right: 1000px;
	display:block;
	float:right;
	
}

/*ABOUT US*/

.p1 {

	


