html {
    scroll-behavior: smooth;
}

body
{
    background-color: grey;
}
#DISCLAIMER {
    font-size: 10px;

}

section{
    background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url('../../media/spacephoto.png');
}

main {

    color: #ff8f66;
    top: 4; /*offset to avoid nav bar */
}

footer{
   color: #ff8f66; 
}
header {
	background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url('../../media/spacephoto.png');
	background-size:cover;
	background-position: center;
	height: 100vh;
	margin: 0;
	padding: 21px 0;
}





#CompanyLogo {
	
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




/************** NAV BAR */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    min-width: %35;
}

.topnav a:hover {
    background-color: #99738E;
    color: black;
}

.topnav a.active {
    background-color: #553d67;

    color: white;
}

/***** NOW SHOWING, this forms a grid ****/

.NowShowing {

}

/** this is to format each card/tile *//


.nowShowing_Card{
    
    padding: 12px;
    background-color: #f1f1f1;

clear:both;
}

.nowShowing_Card  
}


/** just set width of poster here */
.nowShowing_Image {
;
    
    clear:both;
    float:left;
     
}

.nowShowing_Title{

}
.nowShowing_Content{
   
float:right;
}

.column {
    float: left;
    width: 30%;
    padding: 0 10px;
    
    border: double;
    box-shadow: 5px 10px 8px #888888; /* this adds the "card" effect */
}

.column:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/*   synopsis area   */


.synopsis_Card{
    border: double;
    align-content: centre;
}
.synopsis_content{
    padding: 20px 20px 20px 20px;
    float:left;
}

.synopsis_Trailer{
padding: 20px 20px 20px 20px;

}

