html{
    scroll-behavior: smooth;
}



h1{
    font-family: 'Montserrat', sans-serif;
    text-decoration:underline;

}

h2{
    font-family: 'Montserrat', sans-serif;
    text-decoration:underline;
}

p{
    font-family: 'Hepta Slab', serif;
}


section
{
    	
    	

}

#linktoAboutUs{
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 10px;
background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.1)),url('../../media/blue_space.jpg');
    background-size: cover;
}
#linktoPrices{

}

#linkToNowShowing{
}

#linktoSynopsis
{
    visibility: hidden;
    margin:10px;
    background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.1)),url('../../media/spacephoto.png');
}




#dolbylogo{
    max-width: 35%;
}

.seatingImage{
    max-width: 20%;
}

body
{
    background-color: black;
    font-family: 'Hepta Slab', serif;

}
#DISCLAIMER {
    font-size: 10px;

}


main {

    color: #ff8f66;

}

footer{
   color: #ff8f66; 
     background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url('../../media/spacephoto.png');
}
header {
	background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url('../../media/spacephoto.png');
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 100vh;
	margin: 0;
	padding: 21px 0;
}





#CompanyLogo {
	
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




/************** NAV BAR */

#topnav {
    display:inline-block;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding-bottom: 14px;
}

#topnav a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 12px;
    font-size: 17px;
    width: 15%;
}

#topnav a:hover {
    background-color: #99738E;
    color: black;
}

.active {
    background-color: #553d67;

    color: white;
}


    ul{
         list-style:none;
    }








/***** NOW SHOWING, this forms a grid ****/

.NowShowing {
    
    

}

/** this is to format each card/tile */


.nowShowing_Card{
    



}



/** just set width of poster here */
.nowShowing_Image {

    max-width:33%;
    display: inline-block;
    
    /*clear:both;
    float:left;*/
     
}

.nowShowing_Title{

}
.nowShowing_Content{
   
display: inline-block;
}

.column {
    display: inline-block;
    width: 30%;
    padding: 0 10px;
    margin:10px;
    
    border: double;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url('../../media/spacephoto.png'); ->
}

.column:hover {
    box-shadow: 5px 10px 8px #888888; /* this adds the "card" effect */
    
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 800px) {
    .column {
        width: 90%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* About us Area */

.individualSection {
	
	text-align: center;
}

.individualSection p {
	
	
	text-align: center;
}

/*Prices Area*/

.individualSection table {
  border-collapse: collapse;
  width: 100%;
}

.individualSection th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.individualSection tr:hover {background-color:#636161;}





/*   synopsis area   */


#synopsis_Card{
    
    border: double;
    padding: 20px 20px 20px 20px;

}


.synopsis_Trailer{
padding: 20px 20px 20px 20px;

}

.button {
  background-color: green; 
  border: none;
  color: green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


/* form area */
* {box-sizing: border-box}


.container{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.container input[type="text"],
.container input[type="date"],
.container input[type="email"],
.container input[type="tel"],
.container input[type="month"],
.container textarea,
.container select 
{
	
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
display: inline-block;
width: 100%;
padding: 7px;
border: none;
border-bottom: 1px solid #ddd;
background: transparent;
margin-bottom: 10px;
font: 16px Arial, Helvetica, sans-serif;
height: 45px;
}

.container{
	resize:none;
	overflow: hidden;
}


.CustomerDetails{
	display: block;
	
}


.bookbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.bookbtn:hover {
  opacity:1;
}







#synopsisACT{
    display: none;
}

#synopsisANM{
    display: none;
}

#synopsisRMC{
    display: none;
}

#synopsisAHF{
    display: none;
}


#bookingsCard{
    display:none;
}